.main-menu__item {
  list-style: none;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.8);
  position: relative; }

.main-menu__link {
  text-decoration: none;
  cursor: pointer; }

.button-menu {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  text-align: right;
  padding: 10px 0 0;
  margin: 0; }

.button-menu--open {
  display: block; }

.button-menu__link {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 40px;
  display: block;
  text-decoration: none; }

.button-menu__link:hover {
  background-color: #eee;
  color: #333; }
