.menu__burgers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: #f08c33;
	width: rem(90px);
	height: rem(90px);
	border-radius: rem(5px);
}

.menu__burgers-icon {
    display: flex;
   
    .menu__burgers-pic {
        width: 60%;
        height: rem(50px);
        margin: auto ;
    }
}

.burgers__desc{
font-size: rem(14px);
  color: white;
  @include gagalin;
  
}
